@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:200,300,regular,500,600,700,800,200italic,300italic,italic,500italic,600italic,700italic,800italic);
@import "tailwindcss";

body {
  background-color: #030014;
  color: white;
  font-family: "Plus Jakarta Sans", serif;
}

@theme {
  --font-regular: Plus Jakarta Sans;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1) brightness(2);
}

select::-ms-expand {
  display: none;
}
select::-webkit-inner-spin-button,
select::-webkit-calendar-picker-indicator {
  margin-right: 20px;
}

/* Custom scrollbar */
.audio-scroll::-webkit-scrollbar {
  width: 8px; /* scrollbar thickness */
}

.audio-scroll::-webkit-scrollbar-track {
  background: #ffe0a1;
  border-radius: 10px;
  margin-right: 14px;
}

.audio-scroll::-webkit-scrollbar-thumb {
  background-color: #f97316; /* thumb color (orange) */
  border-radius: 10px;
}

.audio-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #ea580c; /* darker orange on hover */
}
